---
// Imports
import Image from "astro/components/Image.astro";
import Motion from "../Motion/Motion";
import AstroLogo from "./img/astro-logo-light-gradient.svg";
import FramerLogo from "./img/framer-logos-idw9i4bXTg.svg";
import GithubLogo from "./img/github.png";
import ReactLogo from "./img/react-logo.svg";
import VercelLogo from "./img/vercel-logotype-light.png";
// JS
const currentYear = new Date().getFullYear();
---

<section class="buildwith">
  <Motion client:load>
    <article class="buildwith__tech">
      <Image src={AstroLogo} alt="Astro logo" class="buildwith__logos" />
      <Image src={ReactLogo} alt="React logo" class="buildwith__logos" />
      <Image src={VercelLogo} alt="Vercel logo" class="buildwith__logos" />
      <Image src={GithubLogo} alt="Github logo" class="buildwith__logos" />
      <Image src={FramerLogo} alt="Framer logo" class="buildwith__logos" />
    </article>
  </Motion>
  <Motion client:load>
    <article class="contributions">
      <p class="freepik">
        Icons by <a
          href="https://www.freepik.com/icon/github_733553#fromView=search&term=github&page=1&position=3"
          >Pixel perfect</a
        > and
        <a
          href="https://www.freepik.com/icon/email_3686989#fromView=search&term=mail&page=1&position=45"
          >Uniconlabs</a
        > on freepik
      </p>
      <p>A lot of ❤️ by © willywdev {currentYear}</p>
    </article>
  </Motion>
</section>

<style>
  .buildwith {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p {
    font-size: 1rem;
    font-weight: 400;
  }
  .buildwith__tech {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    font-size: 8px;
    margin: 1rem 0;
  }
  .contributions {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
  }
  .buildwith__logos {
    height: 16px;
    width: auto;
  }
  .freepik {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 2px;
  }

  @media (min-width: 768px) {
    .buildwith__logos {
      height: 32px;
    }
  }
</style>
